---
import { ImagesIndex } from "../../assets/ImagesIndex";
import { ZanzoImageFrame } from "../../components";
---

<section class="concept">
    <figure class="concept-figure">
        <ZanzoImageFrame className="img--big-horizontal" src={ImagesIndex.IMG_1521} alt="IMG_1521" />
        <ZanzoImageFrame className="img--sm-box" src={ImagesIndex.IMG_9063} alt="IMG_1521" />
    </figure>

    <div class="concept-content">
        <div class="concept-content__img">
            <ZanzoImageFrame className="img--big-vertical" src={ImagesIndex.IMG_1585} alt="IMG_1521" />
        </div>
        <p class="concept-content__text text-base__concept">
            カメラを持って出かけた日の、 
ちょっと好きだった景色や人を、
 そのまま残しています。
<br/>
<br/>
構図も技術もそこそこに、
 「いいな」と思った瞬間だけを集めた、 
ゆるい写真の記録です。


<br/>
<br/>
On days when I go out with my camera,I simply capture the little scenes and people I find myself drawn to.
Without worrying too much about composition or technique,this is just a loose collection of moments that felt right to me.
        </p>
    </div>
    
</section>


<style lang="scss">
    .concept{
        padding:15rem 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10rem;

        &-figure{
            width:100%;
            display: flex;
            align-items: start;
            justify-content: space-evenly;
        }

        &-content{
            position: relative;
            width: 55rem;
            height: 70rem;
            &__text{
                position: absolute;
                right: 0;
                bottom: 0;
                width: 21rem;
                background-color: white;
                color:var(--color-pointer);
                box-sizing: border-box;
                padding: 1rem;
            }
        }
    }
</style>